/* section clients */
.clients-section{
    @extend %section-padding;
    &__list{
        margin-top: 50px;
        @include grids-list(30px);
    }
    &__svg{
        fill: $normal-svg-color;
        transition: all ease-out 0.2s;
    }
    &__item{
        height: 92px;
        @include grids-item(2, 30px);
        @media screen and (min-width: 768px) {
            @include grids-item(3, 30px);
        }
        @media screen and (min-width: 1200px){
            @include grids-item(6, 30px);
        }
        @include flex;
        border: $normal-styles-border $clients-section-item-border-color;
        @extend %normal-border-radius;
        transition: all ease-in-out 0.2s;
        &:hover > svg{
            fill: $active-color;
            @media screen and (min-width: 320px) {
                transform: translate(0px, 0px);
            }
            @media screen and (min-width: 480px) {
                transform: translate(30px, 10px);
            }
        }
    }
}