body{
    font-family: 'Roboto';
}

.container{
    margin: 0 auto;
    min-width: 100%;
    padding: 0 15px;
    @media screen and (min-width: 768px){
        min-width: 768px;
    }
    @media screen and (min-width: 1200px){
        min-width: 1200px;
    }
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.section-title{
    @include text-style(700, 36px, 1.16, center, 0.03em, $main-color);
}