.header{
    height: 80px;
}
.header__header-container{
    display: flex;
    align-items: center;
    height: inherit;
}

.header__nav{
    height: inherit;
}

.header__list{
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
    height: inherit;
}
.contacts{
    display: flex;
    justify-content: space-between;
    width: 333px;
    margin-left: auto;
}

.header__logo, .footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.header__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
    position: relative;
    height: 100%;
}

.contacts__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
    position: relative;
    height: 100%;
}

.header__link:hover{
    color: #2196F3;
}


.contacts__link:hover{
    color: #2196F3;
}

.header__overlay::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 96%;
    background-color: #2196F3;
    border-radius: 5px;
}

.header__link:hover>svg{
    fill: #2196F3;
}

.contacts__svg{
    fill: #757575;
    margin-right: 10px;
}

.header__logo-black{
    color: #212121;
}

.contacts-contact{
    color: #757575;
}