/* body */

body{
    font-family: 'Roboto';
}

/* header */


.header{
    height: 80px;
}
.header__header-container{
    display: flex;
    align-items: center;
    height: inherit;
}

.header__nav{
    height: inherit;
}

.header__list{
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
    height: inherit;
}
.contacts{
    display: flex;
    justify-content: space-between;
    width: 333px;
    margin-left: auto;
}

.header__logo, .footer__logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.header__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
    position: relative;
    height: 100%;
}

.contacts__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
    position: relative;
    height: 100%;
}


.header__link:hover{
    color: #2196F3;
}


.contacts__link:hover{
    color: #2196F3;
}

.header__overlay::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 96%;
    background-color: #2196F3;
    border-radius: 5px;
}

.header__link:hover>svg{
    fill: #2196F3;
}

.contacts__svg{
    fill: #757575;
    margin-right: 10px;
}

.header__logo-black{
    color: #212121;
}

.logo__white{
    color: #FFFFFF;
}

.contacts-contact{
    color: #757575;
}

/* footer */

.footer{
    padding: 60px 0;
    background-color: #2F303A;
}

.footer__container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
}

.footer__list{
    margin-top: 20px;
}
.footer__item{
    margin-top: 9px;
}
.footer__item:first-child{
    margin-top: 0px;
}
.footer__adress{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    font-style: normal;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer__contact{
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer__contact:hover {
    transform: translateY(-10px);
}

.footer__column{
    margin-left: 70px;
    padding-top: 12px;
}

.footer__column2{
    margin-left: 93px;
    padding-top: 12px;
}

.footer__title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__socials{
    margin-top: 20px;
    display: flex;
    width: 206px;
    justify-content: space-between;
}
.footer__soc{
    width: 44px;
    border-radius: 50%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
}
.footer__svg{
    fill: #FFF;
    transition: cubic-bezier(.77,.22,.1,.96) 0.2s;
}
.footer__soc:hover{
    background: #2196F3;
    transform: rotate(360deg);
}



.footer-svg{
    fill: #FFF;
    transition: all cubic-bezier(.77,.22,.1,.96) 0.2s;
}
.footer-soc:hover{
    border-radius: 50%;
    background: #2196F3;
    transition: 0.2s;
}

.footer-column2{
    margin-left: 93px;
    padding-top: 12px;
}
.footer__form{
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-top: 20px;
}
.footer__but{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__but:hover{
    background: #212121;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__field{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: all ease 0.2s;
}
.footer__field:hover{
    border-color: #2196F3;
}
.footer__send{
    fill: #fff;
    margin-left: 12px;
}

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}